.deck {
    height: 100px;
    border: 1px solid white;
    background: white;
    border-radius: 10px;
}

.CloseButton {
    padding: 2px 5px;
    background-color: black;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    display: flex;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 10px;
}

.deckTitle {
    text-align: center;
}